<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo_list</title>
    <style>
        div {
            margin: 0 auto;
            max-width: 720px;
            padding: 2em 1.5em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            /* border: 1px solid red; */
            background-color: #C1DAD6;
        }

        h3 {
            font-size: 1.5em;
            font-weight: 700;
        }

        p {
            font-size: 1.2em;
            font-weight: 300;
            color: rgb(34, 32, 32);
        }

        a {
            display: inline-block;
            border: 0.5px solid #4CAF50;
            padding: 0.5em 1em;
            background-color: #4CAF50;
            color: #FFFFFF;
            font-size: 1.2em;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 1em 0 2em;
            text-decoration: none;
        }

        a:hover {
            border: 0.5px solid #3c8a3e;
            background-color: #3c8a3e;
        }
    </style>
</head>

<body>
    <div>
        <h3>Forgot Password</h3>
        <p>Just click the button below to reset your password.</p>
        <p> This link expires in 10 mins .</p>
        <a href=<%=link %>>Reset My password</a>
    </div>
</body>

</html>